@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    color:black;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    min-height: 100vh; 
}

h1{
    font-size: 3rem;
}

form{
    max-width: 100%;
    width: 300px;
}

.input{
    font-size: 2rem;
    display: block;
    width: 100%;
}

.todos{
    background-color: white;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li{
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    padding: 0.7rem;
}

.todos li.completed{
    color: #a7a7a7;
    text-decoration: line-through;
}

small{
    margin-top: 2rem;
}
